.funcButton{

    width: 300px;
    height: 100px;
    background-color: rgb(255, 201, 255);
    border: '0px solid black';
}
.funcButton:hover{

    background-color: rgb(255, 138, 255);
}
#changableView{
    border: '1px solid black';
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    gap: 20px; /* 컴포넌트 간 간격 */
    margin-top: 20px;

}
#welcome{
    width: 600px;
    text-align: end;
    /* display: flex; */
}
#profile{
    display: flex;
    align-items: center;
    justify-self: end;
}
#picture{
    margin-left: 10px;
    margin-right: 10px;
}
#logo{
    align-self: start;
}
#picture:hover{
    color: brown;
}